<nav id="navbar" class="raised">

  <span class="shadow"></span>
  <span class="edge"></span>
  <span class="front" id="navbar-front">
    <div id="logo-section">
      <span>Create Third Places</span>
    </div>
    <div id = "top-nav">
      <a href="/index.html">Homepage</a>
      <a href="/static/events/decentralizedEventHosting.html">Decentralized event hosting</a>
      <a href="/static/takeAction.html">Take action</a>
      <a href="/static/vision.html">Vision</a>
    </div>

  </span>

</nav>