<link rel="stylesheet" href="/styles/kelp.css"/>
<link rel="stylesheet" href="/styles/sharedStyles.css"/>


<header class="container-xl margin-end-m">
	<nav id ="main-nav" class="navbar">
		<a class="logo"
      href="/tech/placesjs/reference/presentationComponent.html">Places.js Reference Guide</a>
		<ul>
      <li><a href="/tech/placesjs/reference/dataStores.html">Data Management</a></li>
     	<li><a
          href="/tech/placesjs/reference/presentationComponent.html">Components</a></li>
		  <li><a href="/tech/placesjs/reference/settingUpSignals.html">Setting up signals</a></li>			
      <li><a href="/tech/placesjs/reference/advancedCustomization.html">Advanced customization</a></li>		
    </ul>
	</nav>
</header>

