<nav id="navbar" class="raised">

  <span class="shadow"></span>
  <span class="edge"></span>
  <span class="front" id="navbar-front">
    <div id="logo-section">
      <img id ="navbar-logo" src="/images/logo.png">
    </div>
    <ul id = "top-nav">
      <li id="link-1"><a href="/index.html">Homepage</a></li>
      <li id="link-2"><a href="/events/decentralizedEventHosting.html">Find events</a></li>
      <li id = "link-3"><a href="/support.html">Support third places</a></li>
      <li id="link-4"><a href="/about.html">About</a></li>
    </ul>

  </span>

</nav>
