<link rel="stylesheet" href="/styles/kelp.css"/>
<link rel="stylesheet" href="/styles/sharedStyles.css"/>

<div id="top-section"> 
</div>
<header class="container-xl margin-end-m">
	<nav id ="main-nav" class="navbar">
		<a class="logo" href="#">Create Third Places</a>
		<ul>
			<li><a href="/index.html">Homepage</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/events/decentralizedEventHosting.html">Find events</a></li>
			<li><a class="btn secondary" href="/support.html">Support third places</a></li>
		</ul>
	</nav>
</header>

