<header class="container-xl margin-end-m">
	<nav id ="main-nav" class="navbar">
		<a class="logo" href="/placesjs.html">Places.js</a>
		<ul>
			<li><a href="/tech/placesjs/designNotes">Design notes</a></li>
      <li><a href="/tech/placesjs/gettingStarted">Getting started</a></li>
     	<li><a href="/tech/placesjs/goals">Framework goals</a></li>
      <li><a href="/tech/placesjs/reference">Reference guide</a></li>
			<li><a href="/tech/placesjs/tips">Tips for using framework</a></li>
				
    </ul>
	</nav>
</header>

