<header class="container-xl margin-end-m">
	<nav id ="main-nav" class="navbar">
		<a class="logo" href="/tech/placesjs.html">Places.js</a>
		<ul>
			<li><a href="/tech/placesjs/designNotes.html">Design notes</a></li>
      <li><a href="/tech/placesjs/gettingStarted.html">Getting started</a></li>
     	<li><a href="/tech/placesjs/goals.html">Framework goals</a></li>
      <li><a href="/tech/placesjs/reference.html">Reference guide</a></li>
			<li><a href="/tech/placesjs/tips.html">Tips for using framework</a></li>
				
    </ul>
	</nav>
</header>

