iframe {
	margin-bottom: 0;
}

body {
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url("/images/Background.jpg");
	background-size: 100% 100%; 
	display: flex;
	flex-direction: column;
}

#author-heading img {
	border-radius: 1em;
  height: 2em;
  width: 2em;
  object-fit: cover;
}

#author-heading-inner {
	display: flex;
}

#author-heading-user-image-container {
  display: inline-block;
}

#author-heading-username-container {
  display: inline-block;
  margin-left: 0.5em;
  margin-top: 0.25em;
}

#author-section img {
  border-radius: 5rem;
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}

#top-section {
	background-image:url("/images/meeples.png");
	height:12px;
	background-repeat:repeat;
	background-position:center;
}

.image-caption {
	color: var(--color-gray-50);
	display: block;
  font-style: italic;
	font-size: 0.9375em;
	margin-bottom:1em;
}


.display-section .img-secondary {
  max-width: 50%;
}

@media not screen and (width < 32em) {
	iframe {
		width:50%
	}
}
