:root {
  --clr-dark-blue: hsl(199, 100%, 20%);
  --clr-darker-blue: hsl(199, 100%, 10%);
  --clr-light-blue: hsl(199, 100%, 33%);
  --clr-lighter-blue: hsl(206, 100%, 52%);
  --clr-very-light-blue: hsl(206, 100%, 92%);
}
html,
body,
div,
p,
span {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-padding: 1.5rem;
  height: 100%;
}

#container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  flex: 1 0 auto;
  max-width: 65rem;
  margin-inline: auto;
}


#navbar {
  font-size:1.5rem;
  margin-bottom: 1rem;
}

#navbar a {
  color:white;
  text-decoration: none;
}

#top-nav {
  display:flex;
  flex-wrap: wrap;
  padding-top:0.5rem;
}

.front > div {
  display:inline-block;
}


.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    var(--clr-darker-blue) 0%,
    var(--clr-light-blue) 8%,
    var(--clr-dark-blue) 92%,
    var(--clr-darker-blue) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.5rem;
  color: white;
  background: var(--clr-light-blue);
  will-change: transform;
  transform: translateY(-4px);
}

.raised {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  outline-offset: 4px;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
}

@media not screen and (width < 32em) {
  #logo-section {
    float:left;
    font-size: 3rem;
    width:18rem;
  }

  #navbar a {
    margin-right: 2rem;
  }

  #navbar-front {
    height: 6rem;
  }
}

@media screen and (width < 32em) {
  a {
    margin-bottom: 0.5rem;
  }
  #top-nav {
    display: grid;
    text-align: center;
  }
  #logo-section {
    display:flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
  }
}